---
layout: default
title: Experience
---
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Application Developer 2 <small>BAE Systems</small></h3>
            <h4><small>2014 - Current</small></h4>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><h5>CES (Current Employment Statistics) Professional</h5>
                <ul>
                    <li>From-scratch rework of the CES using Handsontable to facilitate faster data entry for respondents</li>
                    <li>{% include html_label.html %} {% include css_label.html %} {% include javascript_label.html %} {% include java_label.html %} <span class="label label-primary">Bootstrap, jQuery, Handsontable, Spring, Hibernate, JUnit, Gson</span></li>
                </ul>
                </li>
                <li><h5>OES (Occupational Employment Statistics)</h5>
                <ul>
                    <li>Updated version of the OES with changes to data collection and report formats</li>
                    <li>{% include html_label.html %} {% include css_label.html %} {% include javascript_label.html %} {% include java_label.html %} <span class="label label-primary">Bootstrap, jQuery, Struts, Hibernate, JUnit, Apache POI, Java Mail, BotDetect</span></li>
                </ul>
                </li>
                <li><h5>ARS (Annual Refiling Survey)</h5>
                <ul>
                    <li>Spring and Hibernate based version of the ARS ported from a Struts-based architecture</li>
                    <li>{% include html_label.html %} {% include css_label.html %} {% include javascript_label.html %} {% include java_label.html %} <span class="label label-primary">Bootstrap, jQuery, Spring, Hibernate, JUnit, BotDetect</span></li>
                </ul>
                </li>
                <li><h5>MWR (Multiple Worksite Report)</h5>
                <ul>
                    <li>Enhanced version of the MWR built from the ground up to vastly simplify and speed up data entry for respondents</li>
                    <li>{% include html_label.html %} {% include css_label.html %} {% include javascript_label.html %} {% include java_label.html %} <span class="label label-primary">Bootstrap, jQuery, Spring, Hibernate, JUnit</span></li>
                </ul>
                </li>
                <li><h5>JOLTS (Job Openings and Labor Turnover Survey)</h5>
                <ul>
                    <li>Spring and Hibernate based version of the JOLTS ported from a Ruby-based architecture</li>
                    <li>{% include html_label.html %} {% include css_label.html %} {% include javascript_label.html %} {% include java_label.html %} <span class="label label-primary">Bootstrap, jQuery, Spring, Hibernate, JUnit, BotDetect</span></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Android Developer <small>University of Texas at Dallas</small></h3>
            <h4><small>2013 - 2014</small></h4>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li><h5>Brain-Computer Interface for the ICU using Steady State Visually Evoked Potentials</h5>
                <ul>
                    <li>A wireless system for patients in the ICU used to communicate with hospital staff without any physical interaction.  It is designed for used by patients suffering from full-body paralysis as it requires them to simply look at a series of flashing options on a display.</li>
                    <li>{% include java_label.html %} {% include c_label.html %} <span class="label label-primary">Android SDK, Android NDK, OpenGL, Eigen</span> <span class="label label-info">Bluetooth</span></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
